@import '~normalize.css';
@import '~seng-scss';
@import 'global';

@import 'layout';
@import 'type/type';
@import 'element/element';

:global {
	.site-wrapper {
		border: 1px solid $colorBorder;
		background: #fff;
		box-shadow: 5px 5px 0 rgba(#000, 0.075);
		max-width: 110rem;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}

	.content {
		padding: 2rem;
	}

	@include respond-to('medium') {

		.content-wrapper {
			display: flex;
		}

		.content {
			flex-grow: 1;
		}

	}
}
